.maindivService{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
}

.bigDiv3{
    display:flex;
    flex-direction:column;
    row-gap:1vh;
    width:100%;
    height:100%
}
.serviceInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: end;
    padding-right: 15px;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

}
.serviceItems{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 1vw;
    font-size: 1rem;
}
.arrowServiceItem{
    color: #FF8225;
}

.serviceItems:hover{
    cursor: pointer;
    transition: 0.5s;
    color: #FF8225;
    
}